# Load Znap
source ~/.zsh/znap/znap.zsh

# vim mode configuration
bindkey -v
export KEYTIMEOUT=1

# Plugins
znap source jocelynmallon/zshmarks
znap source marlonrichert/zsh-autocomplete
znap source ohmyzsh/ohmyzsh plugins/git
znap source ptavares/zsh-direnv
znap source zsh-users/zsh-syntax-highlighting

# ZSH marks
fpath+=( ~[jocelynmallon/zshmarks] )
export BOOKMARKS_FILE="${ZDOTDIR}/bookmarks"

# Aliases
source ${ZDOTDIR}/zshalias.sh

# Functions
source ${ZDOTDIR}/zshfunctions.sh

# command history configuration
HISTFILE=${XDG_CACHE_HOME}/zsh_history
HISTSIZE=10000
SAVEHIST=10000
setopt appendhistory
setopt sharehistory                 # share between sessions in real time
setopt incappendhistory             # add to history on execution
setopt hist_find_no_dups            # ignore duplicates when searching
bindkey '^[[A' fzf-history-widget   # bind arrow-up to the fzf history search

# Configure zsh-autocomplete behavior
zstyle ':autocomplete:*complete*:*' insert-unambiguous yes
bindkey '^I' menu-select
bindkey "$terminfo[kcbt]" menu-select

# enable editing the current command in the default editor
autoload -z edit-command-line
zle -N edit-command-line
bindkey "^X^E" edit-command-line

# PATH modificiation
typeset -U path
path+=(
	"${HOME}/.local/bin"
)

{{ if eq .chezmoi.os "darwin" -}}
# start - macOS specific

# Disable compfix checking for multi-user setup
ZSH_DISABLE_COMPFIX=true

# Add the correct HomeBrew folder to the PATH
if [ "$(sysctl -in sysctl.proc_translated)" = "0" ]; then
    path=("/opt/homebrew/bin" "/opt/homebrew/sbin" $path)
else
    path=("/usr/local/bin" "/usr/local/sbin" $path)
fi

# Add custom plugins
znap source ohmyzsh/ohmyzsh plugins/brew

alias brew-update='brew update && brew upgrade && brew cleanup'

# Launch commands
alias only-office='open -na "OnlyOffice"'

# end - macOS specific
{{ else if eq .chezmoi.os "linux" -}}
alias open='xdg-open'
{{ end -}}

# Load the instance-specific configuration
source ${ZDOTDIR}/zshinstance.sh

# Load the fzf configuration
source ${ZDOTDIR}/fzfrc.sh

# Python virtualenvwrapper
export WORKON_HOME={{ .venvDir | quote }}
znap source ohmyzsh/ohmyzsh plugins/virtualenvwrapper

# Virtual directory-based environments with direnv
eval "$(direnv hook zsh)"

# Accelerate start time
eval "$(starship init zsh)"
znap prompt

export PATH
# vim: set filetype=zsh :
