# Fix injecting invalid LC_CTYPE=UTF-8
if [[ "$LC_CTYPE" == "UTF-8" ]]; then
    unset LC_CTYPE
fi

export LC_CTYPE="C.UTF-8"
export LC_ALL="C.UTF-8"

# Configure neovim for common tasks
export EDITOR="nvim"
export VISUAL="nvim"

# tmux
export TMUX_CONFIG_PATH="$HOME/{{ .tmuxRelConfigPath }}"
export TMUX_PLUGIN_MANAGER_PATH="$HOME/{{ .tmuxRelPluginPath }}"

# CLI clipboard management
{{- if eq .chezmoi.os "darwin" }}
export CLI_CLIP_COPY=pbcopy
export CLI_CLIP_PASTE=pbpaste
{{ end -}}
{{- if eq .chezmoi.os "linux" }}
export CLI_CLIP_COPY=wl-copy
export CLI_CLIP_PASTE=wl-paste
{{ end -}}
