---
- name: create the user bin dir
  file:
    path: '{{ user_bin_dir }}'
    state: directory
    owner: "{{ ansible_env.USER }}"
    group: "{{ user_group }}"
    mode: 0700

- name: copy all scripts
  copy:
    src: '{{ item }}'
    dest: '{{ user_bin_dir }}'
    owner: "{{ ansible_env.USER }}"
    group: "{{ user_group }}"
    mode: 0700
    force: yes
  with_fileglob:
    - '{{ role_path }}/files/*'
