{
  "clock#time": { "tooltip": false, "format": " {:%H:%M}" },
  "clock#date": {
    "format": " {:L%a %d %b}",
    "calendar": {
      "format": {
        "days": "<span weight='normal'>{}</span>",
        "months": "<span color='#cdd6f4'><b>{}</b></span>",
        "today": "<span color='#f38ba8' weight='700'><u>{}</u></span>",
        "weekdays": "<span color='#f9e2af'><b>{}</b></span>",
        "weeks": "<span color='#a6e3a1'><b>W{}</b></span>",
      },
      "mode": "month",
      "mode-mon-col": 1,
      "on-scroll": 1,
    },
    "tooltip-format": "<span color='#cdd6f4' font='Lexend 16'><tt><small>{calendar}</small></tt></span>",
  },
  "cpu": {
    "format": " {usage}%",
    "tooltip": true,
    "interval": 1,
    "on-click": "{{ .terminal }} -e btop",
  },
  "memory": {
    "format": "󰍛  {used:0.1f}Gi",
    "on-click": "{{ .terminal }} -e btop",
  },
  "pulseaudio": {
    "format": "{icon} {volume}%",
    "format-muted": "  muted",
    "format-icons": {
      "headphone": "",
      "default": [" ", " ", " "],
    },
    "on-click": "pavucontrol",
  },
}

// vim: set filetype=css :
