# Mark this as the top-most EditorConfig file for this project
root = true

# Apply these settings only to YAML files
[*.{yml,yaml}]
indent_style = space
indent_size = 2

# Apply these settings only to JSON[C] files
[*.{json,jsonc}]
indent_style = space
indent_size = 2
