# XDG directories
export XDG_CONFIG_HOME="$HOME/{{ .xdgRelConfigDir }}"
export XDG_CACHE_HOME="$HOME/.cache"

# Set custom configuration files / folders
export ZDOTDIR="${XDG_CONFIG_HOME}/zsh"

# vim: set filetype=zsh :
