# XDG directories
export XDG_CONFIG_HOME="$HOME/{{ .xdgRelConfigDir }}"
export XDG_CACHE_HOME="$HOME/.cache"

# Set custom configuration files / folders
export ZDOTDIR="${XDG_CONFIG_HOME}/zsh"

# Configure neovim for common tasks
export EDITOR="nvim"
export VISUAL="nvim"

# tmux
export TMUX_CONFIG_PATH="$HOME/{{ .tmuxRelConfigPath }}"
export TMUX_PLUGIN_MANAGER_PATH="$HOME/{{ .tmuxRelPluginPath }}"

# CLI clipboard management
{{- if eq .chezmoi.os "darwin" }}
export CLI_CLIP_COPY=pbcopy
export CLI_CLIP_PASTE=pbpaste
{{ end -}}
{{- if eq .chezmoi.os "linux" }}
export CLI_CLIP_COPY=wl-copy
export CLI_CLIP_PASTE=wl-paste
{{ end -}}

# vim: set filetype=zsh :
