{{ if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.idLike "debian") -}}
#! /usr/bin/env bash

set -e

# Connect to the right repository
sudo DEBIAN_FRONTEND=noninteractive apt update
sudo DEBIAN_FRONTEND=noninteractive apt install -y --no-install-recommends apt-transport-https ca-certificates curl software-properties-common
curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo apt-key add -
sudo add-apt-repository "deb [arch=amd64] https://download.docker.com/linux/ubuntu focal stable"
apt-cache policy docker-ce

# Finally install docker
sudo DEBIAN_FRONTEND=noninteractive apt install docker-ce

# Enable this user for docker
sudo usermod -aG docker {{ .chezmoi.username }}

# vim: set filetype=zsh :
{{ end -}}
