{{ if eq .chezmoi.os "linux" -}}
#! /usr/bin/env bash

echo "systemd: Reloading systemd user daemon"
systemctl --user daemon-reexec
systemctl --user daemon-reload

# In case of a recent change
systemctl --user preset ssh-agent.service 

echo "systemd: Enabling and (re-)starting system user services"
systemctl --user enable --now ssh-agent.service
# vim: set filetype=zsh : 
{{ end }}
