{{ if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.idLike "debian") -}}
#! /usr/bin/env bash

set -e

UBUNTU_VERSION=$(lsb_release -rs | cut -d. -f1)

packages=(
    alacritty
    bat
    btop
    cmake
    direnv
    errands
    exiv2
    eza
    fastfetch
    ffmpeg
    firefox
    fzf
    gimp
    git
    git-delta
    handbrake
    imagemagick
    inkscape
    jq
    just
    libimage-exiftool-perl
    meld
    ncdu
    neovim
    picard
    pre-commit
    python3
    rpi-imager
    sound-juicer
    thunderbird
    tmux
    torbrowser-launcher
    virtualenvwrapper
    vlc
    zsh
)

if [ "$UBUNTU_VERSION" -ge 25 ]; then
    packages+=(starship)
else
    if ! command -v starship >/dev/null 2>&1; then
        URL=https://starship.rs/install.sh
        printf "\nInstalling starship from ${URL}\n"
        curl -sS ${URL} | sh -s -- --yes > /dev/null
    fi
fi

snap_packages=(
    astral-uv
)

if [ "$UBUNTU_VERSION" -lt 25 ]; then
    if [ ! -f /etc/apt/sources.list.d/zhangsongcui3371-ubuntu-fastfetch-*.sources ]; then
        printf "\nAdding fastfetch PPA\n"
        sudo add-apt-repository -y ppa:zhangsongcui3371/fastfetch
    fi
fi

printf "\nInstalling apt packages\n"
sudo DEBIAN_FRONTEND=noninteractive apt-get update
sudo DEBIAN_FRONTEND=noninteractive apt-get install -y --no-install-recommends "${packages[@]}"

printf "\nInstalling snap packges\n"
sudo snap install --classic "${snap_packages[@]}"

# Some manual linking
mkdir -p ~/.local/bin
ln -sf /usr/bin/batcat $HOME/.local/bin/bat

# vim: set filetype=zsh :
{{ end -}}
