{{ if eq .chezmoi.os "darwin" -}}
#! /usr/bin/env bash

cask_packages=(
    alacritty
    angry-ip-scanner
    balenaetcher
    bitwarden
    gimp
    gitkraken
    inkscape
    jordanbaird-ice@beta
    mark-text
    mattermost
    meld
    modern-csv
    onlyoffice
    pika
    plexamp
    raspberry-pi-imager
    slack
    sublime-text
    tad
    tor-browser
    visual-studio-code
    vlc
)

printf "\nInstalling macOS cask packages\n"
brew install --quiet --cask "${cask_packages[@]}"

# vim: set filetype=zsh :
{{ end -}}
