{{ if and (eq .chezmoi.os "linux") (contains "arch" .chezmoi.osRelease.idLike) -}}
#! /usr/bin/env bash

set -e

packages=(
    base-devel
    bat
    bitwarden-cli
    bottom
    btop
    cmake
    direnv
    exiftool
    exiv2
    eza
    fastfetch
    fd
    ffmpeg
    fzf
    git
    imagemagick
    jq
    jre-openjdk
    just
    lazydocker
    ncdu
    neovim
    opencode
    pre-commit
    python
    tmux
    uv
    zsh
)

aur_packages=(
    python-virtualenvwrapper
    python310
)


printf "\nInstalling pacman packages\n"
sudo pacman -Syu --noconfirm --needed "${packages[@]}"

printf "\nInstalling yay packages\n"
yay -Syu --noconfirm --needed "${aur_packages[@]}"

# Refresh the font cache
fc-cache -fv

# vim: set filetype=zsh :
{{ end -}}
