---
- name: update Homebrew
  homebrew:
    update_homebrew: yes
    upgrade_all: yes

- name: install required packages
  homebrew:
    name: [
      'bmon',
      'exiv2',
      'exiftool',
      'ffmpeg',
      'htop',
      'neofetch',
      'neovim',
      'python',
      'python@3.7',
      'ranger',
      'tmux',
      'tree',
      'vim',
      'watch',
      'wget',
      'zsh',
    ]
    state: present

- name: python virtualenvwrapper
  become: yes
  pip:
    name: "{{ item }}"
    executable: pip3
  loop:
    - virtualenv
    - virtualenvwrapper

- name: create temporary directory for powerline fonts
  tempfile: state=directory suffix=powerline-fonts
  register: powerline_dir

- name: clone powerline fonts
  git:
    repo: https://github.com/powerline/fonts.git
    depth: 1
    dest: '{{ powerline_dir.path }}'

- name: install the fonts
  command: './install.sh chdir={{ powerline_dir.path }}'

- name: remove powerline fonts temporary directory
  file:
    path: '{{ powerline_dir.path }}'
    force: yes
    state: absent

- name: enable long-press character accent menu
  command: defaults write -g ApplePressAndHoldEnabled -bool true
