{{ .xdgRelConfigDir }}/alacritty/catppuccin:
    type: git-repo
    url: https://github.com/catppuccin/alacritty.git
{{ .externalGitArgs | indent 4 }}
{{ .xdgRelConfigDir }}/btop/catppuccin:
    type: git-repo
    url: https://github.com/catppuccin/btop.git
{{ .externalGitArgs | indent 4 }}
