[".oh-my-zsh"]
type = "git-repo"
url = "https://github.com/ohmyzsh/ohmyzsh.git"
{{ .externalGitArgs }}

[".oh-my-zsh/custom/plugins/zsh-snap"]
type = "git-repo"
url = "https://github.com/marlonrichert/zsh-snap.git"
{{ .externalGitArgs }}

