{
  "layer": "bottom",
  "position": "top",
  "height": 40,
  "spacing": 8,
  "margin": "8 16",
  "exclusive": true,
  "gtk-layer-shell": true,
  "passthrough": false,
  "fixed-center": true,
  "mpris": {
    "dynamic-order": ["artist", "title"],
    "format": "{player_icon} {dynamic}",
    "format-paused": "{status_icon} <i>{dynamic}</i>",
    "status-icons": { "paused": "" },
    "player-icons": { "default": "" },
  },
  "hyprland/workspaces": {
    "on-click": "activate",
    "format": "{id}",
    "all-outputs": true,
    "disable-scroll": false,
    "active-only": false,
  },
  "hyprland/window": { "format": "{title}" },
  "include": [
    "modules/bar_assignment.jsonc",
    "modules/config_custom.jsonc",
    "modules/config_official.jsonc",
  ],
}

// vim: set filetype=css :
