{
  "layer": "bottom",
  "position": "top",
  "height": 40,
  "spacing": 8,
  "margin": "8 16",
  "exclusive": true,
  "gtk-layer-shell": true,
  "passthrough": false,
  "fixed-center": true,
  "include": [
    "modules/bar_assignment.jsonc",
    "modules/config_custom.jsonc",
    "modules/config_official.jsonc",
  ],
}

// vim: set filetype=css :
