---
- name: detect if polybar is already installed
  shell: command -v polybar >/dev/null 2>&1
  register: cmd_exists_polybar
  ignore_errors: yes
  tags: ui

- name: install polybar
  include_tasks: "{{ polybar_install_tasks }}"
  with_first_found:
    - files:
      - "{{ ansible_distribution|lower }}.yml"
      - "from-source.yml"
      paths: "install-polybar"
  loop_control:
    loop_var: polybar_install_tasks
  when: cmd_exists_polybar.rc > 0
  tags: ui

- name: create the configuration directory
  file:
    path: "{{ polybar_dir }}/themes"
    state: directory
    owner: "{{ ansible_env.USER }}"
    group: "{{ user_group }}"
    mode: 0700
  tags: ['ui', 'ui-dotfiles']

- name: copy the config files
  copy:
    src: "{{ role_path }}/files/{{ item }}"
    dest: "{{ polybar_dir }}/{{ item }}"
    owner: "{{ ansible_env.USER }}"
    group: "{{ user_group }}"
    mode: 0700
    force: yes
  with_items:
  - config
  - launch.sh
  - theme.ini
  - themes
  tags: ['ui', 'ui-dotfiles']
