[Desktop Entry]
Type=Application
Name=SSH Add Keys
Exec=/bin/bash -c "~/.local/bin/ssh-add-all"
Hidden=false
NoDisplay=true
X-GNOME-Autostart-enabled=true
