general.import = [
  "~/{{ .xdgRelConfigDir }}/alacritty/catppuccin/catppuccin-{{ .catppuccinTheme }}.toml"
]

[font]
size = 12

[font.normal]
family = {{ .fontFamily | quote }}

[[hints.enabled]]
regex = "(mailto:|gemini:|gopher:|https:|http:|news:|file:|git:|ssh:|ftp:)[^\u0000-\u001F\u007F-\u009F<>\"\\s{-}\\^⟨⟩`]+"
command = "open"
post_processing = true

[hints.enabled.mouse]
enabled = true
mods = "Control"

[window]
dynamic_padding = true
opacity = 0.8
option_as_alt = "Both"

[window.dimensions]
columns = 133
lines = 40

[window.padding]
x = 6
y = 6

[terminal]
osc52 = "CopyPaste"

# vim: set filetype=toml :
