// Zed settings
//
// For information on how to configure Zed, see the Zed
// documentation: https://zed.dev/docs/configuring-zed
//
// To see all of Zed's default settings without changing your
// custom settings, run `zed: open default settings` from the
// command palette (cmd-shift-p / ctrl-shift-p)
{
    "agent_servers": {
        "opencode": {
            "type": "registry"
        }
    },
    "cli_default_open_behavior": "new_window",
    "outline_panel": {
        "dock": "left",
    },
    "collaboration_panel": {
        "dock": "left",
    },
    "file_finder": {
        "modal_max_width": "small",
        "include_ignored": "all",
    },
    "git_panel": {
        "dock": "left",
        "tree_view": true,
    },
    "tab_size": 4,
    "auto_update": true,
    // AI config
    "language_models": {
        "ollama": {
            "api_url": "http://localhost:11434",
            "available_models": [
                {
                    "name": "qwen2.5-coder",
                    "display_name": "qwen2.5-coder-16K",
                    "max_tokens": 16384,
                    "supports_tools": true,
                    "supports_images": true,
                },
            ],
        },
    },
    "agent": {
        "dock": "right",
        "tool_permissions": {
            "tools": {
                "delete_path": {
                    "default": "allow"
                },
                "move_path": {
                    "default": "allow"
                },
                "write_file": {
                    "default": "allow"
                },
                "mcp:mcp-server-github:issue_read": {
                    "default": "allow"
                },
                "create_directory": {
                    "default": "allow"
                },
                "mcp:some-remote-server:notion-fetch": {
                    "default": "allow"
                },
                "fetch": {
                    "default": "allow",
                },
                "terminal": {
                    "always_allow": [
                        {
                            "pattern": "^cat\\s"
                        },
                        {
                            "pattern": "^curl\\s"
                        },
                        {
                            "pattern": "^git\\s"
                        },
                        {
                            "pattern": "^pytest\\s"
                        },
                        {
                            "pattern": "^uv\\s+run(\\s|$)"
                        },
                        {
                            "pattern": "^ls\\b"
                        },
                        {
                            "pattern": "^grep\\b"
                        },
                        {
                            "pattern": "^git\\b"
                        },
                        {
                            "pattern": "^sed\\b"
                        },
                        {
                            "pattern": "^chmod\\s+\\+x(\\s|$)"
                        }
                    ],
                },
            },
        },
        "default_model": {
            "enable_thinking": true,
            "provider": "openai",
            "model": "gpt-5.3-codex",
        },
        "default_profile": "write",
        "model_parameters": [],
    },
    "edit_predictions": {
        "provider": "zed",
        "disabled_globs": [],
        "mode": "subtle",
    },
    "context_servers": {
        "some-remote-server": {
            "enabled": true,
            "url": "https://mcp.notion.com/mcp"
        },
        "mcp-server-github": {
            "enabled": true,
            "remote": false,
            "settings": {
                "github_personal_access_token": {{ (bitwardenFields "item" "github.com").pat.value | quote }},
            },
        },
    },
    // Language specific settings
    "languages": {
        "Python": {
            "language_servers": ["!basedpyright", "pyright", "ruff"],
            "format_on_save": "on",
            "formatter": [
                { "code_action": "source.fixAll.ruff" },
                { "code_action": "source.organizeImports.ruff" },
                {
                    "language_server": { "name": "ruff" },
                },
            ],
        },
    },
    "lsp": {
        "basedpyright": {
            "settings": {
                "basedpyright.analysis": {
                    "diagnosticMode": "workspace",
                    "diagnosticSeverityOverrides": {
                        "reportUnknownArgumentType": false,
                        "reportUnknownMemberType": false,
                        "reportUnknownVariableType": false,
                    },
                },
            },
        },
        "ruff": {
            "initialization_options": {
                "settings": {
                    "lineLength": 120,
                    "lint": {
                        "extendSelect": ["I"],
                    },
                },
            },
        },
    },
    // shortcuts and editing
    "base_keymap": "JetBrains",
    "autosave": {
        "after_delay": {
            "milliseconds": 1000,
        },
    },
    "file_scan_exclusions": ["**/build"],
    "file_scan_inclusions": ["**/*.log", "*.log"],
    // VIM settings
    "vim_mode": true,
    "vim": {
        "toggle_relative_line_numbers": true,
    },
    "terminal": {
        "detect_venv": "off",
    },
    // Editing settings
    "extend_comment_on_newline": false,
    // UI
    "ui_font_size": 16,
    "buffer_font_size": 14,
    {{- if eq .chezmoi.os "darwin" }}
    "buffer_font_family": {{ .fontMonoMacOS | quote }},
    {{- else if eq .chezmoi.os "linux" }}
    "buffer_font_family": {{ .fontMonoLinux | quote }},
    {{- end }}
    "theme": {
        "mode": "system",
        "light": "One Dark",
        "dark": "One Dark",
    },
    "project_panel": {
        "dock": "left",
        "hide_hidden": false,
        "hide_gitignore": true,
    },
    // Debugger
    "inlay_hints": {
        "show_value_hints": false,
    },
    // Extensions
    "auto_install_extensions": {
        "rainbow-csv": true,
        "docker-compose": true,
        "dockerfile": true,
        "git-firefly": true,
        "html": true,
        "just": true,
        "just-ls": true,
        "log": true,
        "toml": true,
    },
}

// vim: set filetype=jsonc :
