# Set your default editor here uncomment and reboot to take effect.
env = EDITOR,nvim #default editor

# These two are for UserKeybinds.conf & Waybar Modules
$term = {{ .terminal }}
$files = {{ .files }} -w

# Default Search Engine for ROFI Search (SUPER S)
$SearchEngine = "https://www.google.com/search?q={}"

# vim: set filetype=conf :
